body{
    background-color: antiquewhite;
}

#header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.bloque-logo{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.textologo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
}

.oculto {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.3s ease;
}
.logo img{
    width: 100px;
    align-items: center;
    height: auto;
    display: block;
    
}
.tel,
.correo{
    font-size: 10px;
}

.menu{
  position:fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    max-height: 0;
    overflow: hidden;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    background-color:#EEEEEE;
    opacity: 0;
    transform: translateY(-20px);
    pointer-events: none;
    display: flex;
    transition: opacity 0.8s ease, transform 0.8s ease, max-height 0.8s ease;
    padding-bottom: 5vh;
    padding-top: 5vh;
}
.menu.activo{
    
    max-height: 500px;
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
    
}

.menu a{
    text-decoration: none;
    font-size: 20px;
    color: black;
   
}
.cerrar-menu{
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 24px;
  background: none;
  border: none;
  z-index: 9999;
  cursor: pointer;
  color: red;
}
.menu-toggle,
.cerrar-menu {
  transition: opacity 0.3s ease;
}
.submenu{
    display: none;
    flex-direction: column;
    text-decoration: none;
    gap: 1rem;
    margin-top: 1rem;
}
.submenu a{
    padding-left: 25px;
}
/*Sola para la versiòn de escritorio*/
/*.desplegable:hover .submenu{
    display:flex;
}*/

.submenu.activo{
    display: flex;
}
