<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <title>Document</title>
</head>
<body>
    <header id="header-escritorio" class="header-escritorio">
        <div class="item1">
            <i class="fas fa-sign-in-alt"></i> Iniciar sesión
        </div>
        <section class="header-top item2">
            <button class="quiero-cita">QUIERO CITA</button>
            <p class="texto-header-top">+34644295554  sashanutricion@gmail.com</p>
            <i class="fab fa-whatsapp"></i>
            <i class="fab fa-facebook"></i>  
            <i class="fab fa-instagram"></i>
            <i class="fas fa-shopping-cart"></i>
        </section>
        <div class="item3">
            <a href="" class="logo-escritorio"></a>
            <img src="/assets/imagen/LogoEstetica.avif" alt="">
        </div>
        <nav class="menu">
            <a href="#" class="item-menu">Inicio</a>
            <a href="#" class="item-menu">Sobre mi</a>
                 <div class="desplegable">
                        <a href="#" class="item-menu">Consulta Nutricion ▾</a>
                             <div class="submenu">
                                <a href="" class="item-submenu">Presencial</a>
                                <a href="" class="item-submenu">Online</a>
                            </div>
                 </div>
            <a href="#" class="item-menu">Formacion Nutricionista</a>
            <a href="#" class="item-menu">Contacto</a>
            <a href="#" class="item-menu">Recursos y Suplementos</a>
    
        </nav>
 
    </header>
    <header id="header" class="header-class">
       <a href="" class="cart-shop">&#128722;</a>
       <div class="bloque-logo">
            <a href="" class="logo">
                <img src="/assets/imagen/LogoEstetica.avif" alt="">
            </a>
            <div class="textologo">
                <a href="tel:+593998635876" class="tel">+593998635876</a>
                <a href="mailto:cristian.alava.villamar@gmail.com" class="correo">cristian.alava.villamar@gmail.com</a>
            </div>
        </div>
        <nav class="menu">
            <a href="#" class="item-menu">Inicio</a>
            <a href="#" class="item-menu">Sobre mi</a>
                 <div class="desplegable">
                        <a href="#" class="item-menu">Consulta Nutricion ▾</a>
                             <div class="submenu">
                                <a href="" class="item-submenu">Presencial</a>
                                <a href="" class="item-submenu">Online</a>
                            </div>
                 </div>
            <a href="#" class="item-menu">Formacion Nutricionista</a>
            <a href="#" class="item-menu">Contacto</a>
            <a href="#" class="item-menu">Recursos y Suplementos</a>
    
        </nav>
        <button href="" class="menu-toggle" id="menu-toggle">&#9776;</button>
        <button class="cerrar-menu oculto"> &#10006</button>
    </header>
    <script src="/src/js/main.js"></script>
</body>
</html>