<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>title</title>
    <link rel="stylesheet" href="/src/css/styles.css">
    </head>
<button href="" class="menu-toglle" id="menu-toggle">&#9776</button>
<button class="cerrar-menu"> &#10006</button>
<nav class="menu">
    <a href="#" class="item-menu">Inicio</a>
    <a href="#" class="item-menu">Sobre mi</a>
    <div class="desplegable">
        <a href="#" class="item-menu">Consulta Nutricion ▾</a>
            <div class="submenu">
                <a href="" class="item-submenu">Presencial</a>
                <a href="" class="item-submenu">Online</a>
            </div>
     </div>
    <a href="#" class="item-menu">Formacion Nutricionista</a>
    <a href="#" class="item-menu1">Contacto</a>
    <a href="#" class="item-menu2">Recursos y Suplementos</a>
    
</nav>
<button class="cerrar-menu"> &#10006</button>

<body>
    <script src="/src/js/main.js"></script>
</body>
</html>
